<!DOCTYPE html>
<html>
  <head>
    <title>How much?!</title>
    <link rel="apple-touch-icon" href="/house.png"/>
    <style type="text/css" media="screen">
      body{
        font-family: Helvetica, Arial, sans-serif;
        font-size:20px;
        font-weight:bold;
      }
      #average{
        color:#FF8000;
      }
      
      footer{
        margin-top:10px;
        font-weight:normal;
        color:#aaa;
        font-size:14px;
      }
      a{
        color:#aaa;
      }
    </style>
    <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
  </head>
  <body>
    <p>Find out how much houses cost on average where you are right now.</p>
    <p>Powered by the <a href='http://zoopla.com'>Zoopla</a> API</p>
    <p>Source available on <a href='http://github.com/andrew/how_much'>Github</a></p>
    <footer>
      Copyright &copy;
      <a href='http://teabass.com'>Andrew Nesbitt</a> |
      <a href='/'>Back</a>
    </footer>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-265870-22']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>