<!DOCTYPE html>
<html>
  <head>
    <title>How much?!</title>
    <link rel="apple-touch-icon" href="/house.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
          initiate_geolocation()
        });
        function initiate_geolocation() {
            navigator.geolocation.getCurrentPosition(handle_geolocation_query,handle_errors);
        }

        function handle_errors(error)
        {
            switch(error.code)
            {
                case error.PERMISSION_DENIED: alert("You must share your data for this to work!");
                break;

                case error.POSITION_UNAVAILABLE: alert("Could not detect current position");
                break;

                case error.TIMEOUT: alert("Retrieving position timed out");
                break;

                default: alert("unknown error");
                break;
            }
        }

        function handle_geolocation_query(position){
            $.getJSON('/value.json?lat='+position.coords.latitude+'&long='+position.coords.longitude, function(data, textStatus){
               $('#average').text('£'+data)
            });
        }
    </script>
    <style type="text/css" media="screen">
      body{
        font-family: Helvetica, Arial, sans-serif;
        font-size:40px;
        font-weight:bold;
      }
      #average{
        color:#FF8000;
      }
        footer{
          margin-top:10px;
          font-weight:normal;
          color:#aaa;
          font-size:14px;
        }
        footer a{
          color:#aaa;
        }
      </style>
    </style>
    <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'>
  </head>
  <body>
    <p>Average House Price around here: <span id="average"><img src='/spinner.gif'></span></p>
    <footer>
      Copyright &copy;
      <a href='http://teabass.com'>Andrew Nesbitt</a> |
      <a href='/about'>About</a>
    </footer>
  </body>
</html>